---
const today = new Date();
---
  
  <!-- Footer -->
  <footer class="w-full border-t border-neutral-800 px-6 py-8 text-center text-neutral-400 text-sm bg-neutral-950">
    <div class="flex flex-col sm:flex-row justify-between items-center gap-3 max-w-5xl mx-auto">
      <span>© {today.getFullYear()} Joel Benítez Donari</span>
      <span>Built for high-impact results. <a 
        href="https://www.linkedin.com/in/joel-benitez-iiot-industry/" 
        target="_blank" class="underline hover:text-blue-500">LinkedIn</a></span>
    </div>
  </footer>

  